asgiref
distlib
Django
django-filter
djangorestframework
filelock
isort
Pillow
platformdirs
psycopg
psycopg-binary
python-dotenv
pytz
sqlparse
typing_extensions
tzdata
gunicorn
django-admin-interface
django-summernote
django_unused_media