{% load static %}

<div class="widget sidebar-widget widget_categories">
    <h4 class="widget-title">جميع الأقسام</h4>
    <ul class="list-wrap">
        {% for cat in categories %}
        <li>
            <span class="float-right">{{ cat.posts.count }}</span>
            <a href={% url 'category' cat.eng_name %}>{{ cat.name }}</a>
            <div class="thumb"><a href={% url 'category' cat.eng_name %}><img src={{ cat.img.url }} alt="img"></a></div> 
        </li>
        {% endfor %}
    </ul>
</div>