{% load static %}

<div class="row">
    {% for post in posts %}
    <div class="col-lg-4 col-sm-6">
        <div class="featured__post">
            <div class="featured__thumb" data-background="{{ post.main_img.url}}">0{{forloop.counter}}</div>
            <div class="featured__content">
                <ul class="tgbanner__content-meta list-wrap">
                    <li class="category"><a href={% url 'category' post.category.eng_name %}>{{ post.category }}</a></li>
                    <li><span class="by">بواسطة</span> <a href="blog.html">{{ post.author}}</a></li>  {% comment %} ! Author url {% endcomment %}
                </ul>
                <h4 class="title tgcommon__hover"><a href={% url 'post' post.slug %}>{{ post.ext_name }}</a></h4>
            </div>
        </div>
    </div>
    {% endfor %}
</div>