{% load static %}

<div class="row row-gutters-40">
    {% for post in posts %}
    <div class="col-md-6">
        <div class="stories-post__item">
            <div class="stories-post__thumb tgImage__hover">
                <a href={% url 'post' post.slug %}><img src={{ post.main_img.url }} alt="img"></a>
            </div>
            <div class="stories-post__content video__post-content">
                <ul class="tgbanner__content-meta list-wrap">
                    <li class="category"><a href={% url 'category' post.category.eng_name%}>{{post.category}}</a></li>
                    <li><span class="by">بقلم </span>{{post.author}}</li>  
                    <li>{{post.date}}</li>
                </ul>
                <h3 class="title tgcommon__hover"><a href={% url 'post' post.slug %}>{{ post.ext_name }}</a></h3>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
