{% load static %}

<div class="swiper-container trending-active">
    <div class="swiper-wrapper">
        {% for post in posts %}        
        <div class="swiper-slide">
            <div class="trending__post">
                <div class="trending__post-thumb tgImage__hover">
                    <a href="#" class="addWish"><i class="fal fa-heart"></i></a>
                    <a href="blog-details.html"><img src={{post.main_img.url}} alt="img"></a>
                    <span class="is_trend"><i class="fas fa-bolt"></i></span>
                </div>
                <div class="trending__post-content">
                    <ul class="tgbanner__content-meta list-wrap">
                        <li class="category"><a href="blog.html">{{ post.category}}</a></li>
                        <li><span class="by">بواسطة</span> <a href="blog.html">{{ post.author}}</a></li>
                    </ul>
                    <h4 class="title tgcommon__hover"><a href="blog-details.html">{{ post.title }}</a></h4>
                    <ul class="post__activity list-wrap">
                        <li style="color:white;"><i class="fal fa-signal"></i> 1.0k</li>
                        <li><a href="blog-details.html"><i class="fal fa-comment-dots"></i> 128</a></li>
                        <li><i class="fal fa-share-alt"></i> 29</li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>