{% load static %}

<div class="swiper-container trending-active">
    <div class="swiper-wrapper">
        {% for post in posts %}        
        <div class="swiper-slide">
            <div class="trending__post">
                <div class="trending__post-thumb tgImage__hover">
                    <a href="#" class="addWish"><i class="fal fa-heart"></i></a>
                    <a href={% url 'post' post.slug %}><img src={{ post.main_img.url }} alt="img"></a>
                    <span class="is_trend"><i class="fas fa-bolt"></i></span>
                </div>
                <div class="trending__post-content">
                    <ul class="tgbanner__content-meta list-wrap">
                        <li class="category"><a href={% url 'category' post.category.eng_name %}>{{ post.category }}</a></li>
                        {% for author in post.author.all|slice:":1" %}
                        <li><span class="by">{% if "مقالات" in post.tags.all %} بقلم {% else %} كتب {% endif %} </span> {{ author }} </li>   
                        {% endfor %}    
                    </ul>
                    <h4 class="title tgcommon__hover"><a href={% url 'post' post.slug %}>{{ post.ext_name }}</a></h4>
                    <ul class="post__activity list-wrap">
                        <li><i class="fal fa-signal"></i>{{ post.likes }}</li>
                        <li><a href={% url 'post' post.slug %}><i class="fal fa-comment-dots"></i> 128</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>