{% load static %}

<div class="tgbanner__side-post">

    {% for post in posts %}
                        
    <div class="tgbanner__post small-post">
        <div class="tgbanner__thumb tgImage__hover">
            <a href={% url 'post' post.slug %}><img src={{ post.main_img.url }} alt="img"></a>
        </div>
        <div class="tgbanner__content">
            <ul class="tgbanner__content-meta list-wrap">
                <li class="category"><a href={% url 'category' post.category.eng_name %}>{{ post.category}}</a></li>
            </ul>
            <h2 class="title tgcommon__hover"><a href={% url 'post' post.slug %}>{{ post.ext_name }}</a></h2>
        </div>
    </div>
    {% endfor %}    
</div>
