{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href={% static 'assets/css/forms.css' %}>
{% endblock head %}

{% block content %}

<div class="login-page">
    <div class="form">
        {{form.non_field_errors}}
        <form class="login-form" method="post">
          <h2>تأكيد إستعادة كلمة المرور</h2>
        {% csrf_token %}
        {{ form.new_password1.errors}}
        <label for="{{ form.new_password1.id_for_label }}">أدخل كلمة المرور: </label>
        {{ form.new_password1}}
        {{ form.new_password2.errors}}
        <label for="{{ form.new_password2.id_for_label }}"> أكد كلمة المرور:</label>
        {{ form.new_password2}}
        <input id="btn-submit" type="submit" value="إسترجع">
      </form>
    </div>
</div>

{% comment %} <h2>Confirm password reset</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Confirm">
</form> {% endcomment %}
{% endblock %}