    {% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en" dir="rtl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>
            {% block page_title %}
            {% endblock page_title %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="shortcut icon" type="image/x-icon" href={% static 'assets/img/favicon.ico' %}>
        {% block head %}
        {% endblock head %}
        <!-- CSS here -->
        <link rel="stylesheet" href={% static 'assets/css/bootstrap.min.css' %}>
        <link rel="stylesheet" href={% static 'assets/css/animate.min.css' %}>
        <link rel="stylesheet" href={% static 'assets/css/magnific-popup.css' %}>
        <link rel="stylesheet" href={% static 'assets/css/fontawesome-all.min.css' %}>
        <link rel="stylesheet" href={% static 'assets/css/imageRevealHover.css' %}>
        <link rel="stylesheet" href={% static 'assets/css/swiper-bundle.css' %}>
        <link rel="stylesheet" href={% static 'assets/css/flaticon.css' %}>
        <link rel="stylesheet" href={% static 'assets/css/slick.css' %}>
        <link rel="stylesheet" href={% static 'assets/css/spacing.css' %}>
        <link rel="stylesheet" href={% static 'assets/css/main.css' %}>
    </head>
    <body>
        <!-- preloader -->
        <div id="preloader">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    {% if request.resolver_match.url_name == 'home' %}
                        <img id="loader-logo" src={% static "assets/img/logo/logo.png" %} alt="">
                    {% else %}
                        <div class="object" id="object_one"></div>
                        <div class="object" id="object_two"></div>
                        <div class="object" id="object_three"></div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- preloader-end -->
        <!-- Scroll-top -->
        <button class="scroll__top scroll-to-target" data-target="html">
            <i class="fas fa-angle-up"></i>
        </button>
        <!-- Scroll-top-end-->
        <!-- header-area -->
        <header>
            <div class="header__top">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-4 col-md-3 order-0 order-lg-0 d-none d-md-block">
                            <div class="header__top-logo logo">
                                <a href={% url 'home' %} class="logo-dark">
                                    <img src={% static 'assets/img/logo/logo.png' %} alt="Logo">
                                </a>
                                <a href={% url 'home' %} class="logo-light">
                                    <img src={% static 'assets/img/logo/w_logo.png' %} alt="Logo">
                                </a>
                            </div>
                        </div>
                        <div id="custom-bar" class="col-lg-4 col-md-6 col-sm-6 order-2 order-lg-2">
                            <div class="header__top-search">
                                <form action="#">
                                    <input type="text" placeholder="ابحث هنا...">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="header-fixed-height"></div>
            <div id="sticky-header" class="tg-header__area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="tgmenu__wrap">
                                <nav class="tgmenu__nav">
                                    <div class="logo d-block d-md-none">
                                        <a href={% url 'home' %} class="logo-dark">
                                            <img src={% static 'assets/img/logo/logo.png' %} alt="Logo">
                                        </a>
                                        <a href={% url 'home' %} class="logo-light">
                                            <img src={% static 'assets/img/logo/w_logo.png' %} alt="Logo">
                                        </a>
                                    </div>
                                    <div class="offcanvas-toggle">
                                        <a href="#"><i class="flaticon-menu-bar"></i></a>
                                    </div>
                                    <div class="tgmenu__navbar-wrap tgmenu__main-menu d-none d-lg-flex">
                                        <ul class="navigation">
                                            <li>
                                                <a href={% url 'home' %}>الرئيسية</a>
                                            </li>
                                            <li>
                                                <a href={% url 'category' 'pharonic' %}>فرعوني</a>
                                            </li>
                                            <li>
                                                <a href={% url 'category' 'coptic' %}>قبطي</a>
                                            </li>
                                            <li>
                                                <a href={% url 'category' 'islamic' %}>إسلامي</a>
                                            </li>
                                            <li>
                                                <a href={% url 'category' 'modern' %}>حديث</a>
                                            </li>
                                            <li>
                                                <a href={% url 'category' 'podcast' %}>بودكاست</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="user-data">
                                        <a href="#" data-bs-toggle="tooltip" data-bs-title="المقال الافتتاحي"><i class="fa-solid fa-ankh"></i></a>
                                        {% if user.is_authenticated %}
                                            {% if user.is_staff %}
                                                <a href={% url 'admin:index' %}><i class="fas fa-pen"></i></a>
                                            {% endif %}
                                            <a href="{% url 'dashboard' %}"><i class="fas fa-user"></i></a>
                                        {% else %}
                                            <a href={% url 'login' %}><i class="fas fa-sign-in-alt"></i></a>
                                        {% endif %}
                                    </div>
                                </nav>
                                <div class="mobile-nav-toggler">
                                    <i class="fas fa-bars"></i>
                                </div>
                            </div>
                            <!-- Mobile Menu  -->
                            <div class="tgmobile__menu">
                                <nav class="tgmobile__menu-box">
                                    <div class="nav-logo">
                                        <a href={% url 'home' %} class="logo-dark">
                                            <img src={% static 'assets/img/logo/logo.png' %} alt="Logo">
                                        </a>
                                        <a href={% url 'home' %} class="logo-light">
                                            <img src={% static 'assets/img/logo/w_logo.png' %} alt="Logo">
                                        </a>
                                    </div>
                                    <div class="close-btn">
                                        <i class="fas fa-times"></i>
                                    </div>
                                    <div class="tgmobile__search">
                                        <form action="#">
                                            <input type="text" placeholder="Search here...">
                                            <button>
                                                <i class="fa-solid fa-magnifying-glass"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="tgmobile__menu-outer">
                                    </div>
                                    <div class="container pt-30">
                                        <p class="text-just">
                                            موقع ترجمان هو مشروع تخرج لطلاب الفرقة الرابعة بقسم الصحافة والنشر الرقمي كلية الإعلام وتكنولوجيا الاتصال جامعة السويس (دفعة ٢٠٢٤)
                                        </p>
                                        <br>
                                        <p class="text-just">
                                            موقع صحفي متخصص في السياحة التاريخية في
                                            مِنطقة القــــــاهرة و الجيــــــــزة ، يهدف إلي تعريف القارئ بتاريخ المناطق الاثرية ونقل أخبارها بشكل دوري ومميز بهدف التشجيع علي زيارة تلك المناطق
                                        </p>
                                        <br>
                                        <p class="text-just">
                                            <span class="text-bold">
                                                رئيس مجلس الإدارة-عميد كلية اعلام :
                                            </span>
                                             
                                            <br>
                                            أ.د.أمين سعيد
                                            <br>
                                            <span class="text-bold">
                                                إشراف عام – رئيس قسم الصحافة :
                                            </span>
                                            <br>
                                            أ.م.د. حسين ربيع 
                                            <br>
                                            <span class="text-bold">
                                                إشراف:
                                            </span>
                                            <br>
                                            أ.رانيا الشبراوى
                                            <br>
                                            <span class="text-bold">
                                                مستشارا التحرير:
                                            </span>
                                            <br>
                                            د.سمر علي
                                            <br>
                                            د.منية إسحاق
                                        </p>
                                        <br>
                                        <p class="text-just">
                                            <span class="text-bold">
                                                رئيس التحرير: 
                                            </span>
                                            محمد السيد
                                            <br>
                                            <span class="text-bold">
                                                نائب رئيس التحرير:
                                            </span>
                                             أحمد ماجد
                                            <br>
                                            <span class="text-bold">
                                                المحررين:
                                            </span>
                                            <br>
                                            خالد أحمد
                                            <br>
                                            سهيلة عاطف
                                            <br>
                                            حنين عبد الرحمن
                                            <br>
                                            سارة منصور
                                        </p>
                                    </div>
                                    <div class="social-links">
                                        <ul class="list-wrap">
                                            <li>
                                                <a href="https://www.facebook.com/profile.php?id=61557292679605"><i class="fab fa-facebook-f"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com/turjmaan1"><i class="fab fa-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://www.instagram.com/turjmaan/"><i class="fab fa-instagram"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://www.youtube.com/channel/UCGyLdCXfQkEi0amUHFVq4gw"><i class="fab fa-youtube"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <div class="tgmobile__menu-backdrop"></div>
                            <!-- End Mobile Menu -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- offCanvas-area -->
            <div class="offCanvas__wrap">
                <div class="offCanvas__body">
                    <div class="offCanvas__toggle">
                        <i class="flaticon-addition"></i>
                    </div>
                    <div class="offCanvas__content">
                        <div class="offCanvas__logo logo">
                            <a href={% url 'home' %} class="logo-dark">
                                <img src={% static 'assets/img/logo/logo.png' %} alt="Logo">
                            </a>
                            <a href={% url 'home' %} class="logo-light">
                                <img src={% static 'assets/img/logo/w_logo.png' %} alt="Logo">
                            </a>
                        </div>
                        <p class="text-just">
                            موقع ترجمان هو مشروع تخرج لطلاب الفرقة الرابعة بقسم الصحافة والنشر الرقمي كلية الإعلام وتكنولوجيا الاتصال جامعة السويس (دفعة ٢٠٢٤)
                        </p>
                        <br>
                        <p class="text-just">
                            موقع صحفي متخصص في السياحة التاريخية في
                            مِنطقة القــــــاهرة و الجيــــــــزة ، يهدف إلي تعريف القارئ بتاريخ المناطق الاثرية ونقل أخبارها بشكل دوري ومميز بهدف التشجيع علي زيارة تلك المناطق
                        </p>
                        <br>
                        <p class="text-just">
                            <span class="text-bold">
                                رئيس مجلس الإدارة-عميد كلية اعلام :
                            </span>
                             
                            <br>
                            أ.د.أمين سعيد
                            <br>
                            <span class="text-bold">
                                إشراف عام – رئيس قسم الصحافة :
                            </span>
                            <br>
                            أ.م.د. حسين ربيع 
                            <br>
                            <span class="text-bold">
                                إشراف:
                            </span>
                            <br>
                            أ.رانيا الشبراوى
                            <br>
                            <span class="text-bold">
                                مستشارا التحرير:
                            </span>
                            <br>
                            د.سمر علي
                            <br>
                            د.منية إسحاق
                        </p>
                        <br>
                        <p class="text-just">
                            <span class="text-bold">
                                رئيس التحرير: 
                            </span>
                            محمد السيد
                            <br>
                            <span class="text-bold">
                                نائب رئيس التحرير:
                            </span>
                             أحمد ماجد
                            <br>
                            <span class="text-bold">
                                المحررين:
                            </span>
                            <br>
                            خالد أحمد
                            <br>
                            سهيلة عاطف
                            <br>
                            حنين عبد الرحمن
                            <br>
                            سارة منصور
                        </p>
                    </div>
                    <div class="offCanvas__contact">
                        <h4 class="title">تواصل  معنا</h4>
                        <ul class="offCanvas__contact-list list-wrap ltr">
                            <li>
                                <i class="fas fa-envelope-open"></i><a href="mailto:info@webmail.com">info@webmail.com</a>
                            </li>
                            <li>
                                <i class="fas fa-phone"></i><a href="mailto:info@webmail.com">+201023456789</a>
                            </li>
                            <li>
                                <i class="fas fa-map-marker-alt"></i>
                                <a href="">كلية إعلام، جامعة السويس</a>
                            </li>
                        </ul>
                        <ul class="offCanvas__social list-wrap">
                            <li>
                                <a href="https://www.facebook.com/profile.php?id=61557292679605"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/turjmaan1"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/turjmaan/"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UCGyLdCXfQkEi0amUHFVq4gw"><i class="fab fa-youtube"></i></a>
                            </li>
                            <li>
                                <a href="https://www.tiktok.com/@turjmaan"><i class="fab fa-tiktok"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="offCanvas__overlay"></div>
            <!-- offCanvas-area-end -->
        </header>
        <!-- header-area-end -->
        {% block content %}
        {% endblock content %}
        <!-- footer-area -->
        <footer class="footer-area brown-bg">
            <div class="container">
                <div class="footer__top-wrap">
                    <div class="justify-content-between row">
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                            <div class="footer__widget">
                                <h4 class="fw-title">فرعوني</h4>
                                {% include "includes/list_wrap.html" with posts=pharo %}
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                            <div class="footer__widget">
                                <h4 class="fw-title">قبطي</h4>
                                {% include "includes/list_wrap.html" with posts=coptic %}
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                            <div class="footer__widget">
                                <h4 class="fw-title">إسلامي</h4>
                                {% include "includes/list_wrap.html" with posts=islamic %}
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                            <div class="footer__widget">
                                <h4 class="fw-title">حديث</h4>
                                {% include "includes/list_wrap.html" with posts=modern %}
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                            <div class="footer__widget">
                                <h4 class="fw-title">بودكاست</h4>
                                {% include "includes/list_wrap.html" with posts=podcast %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer__logo-wrap">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-4">
                            <div class="footer__logo logo">
                                <a href={% url 'home' %}>
                                    <img src={% static 'assets/img/logo/w_logo.png' %} alt="Logo" class="p-0 m-0">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-8">
                            <div class="footer__social">
                                <ul class="list-wrap">
                                    <li class="ltr">
                                        <a href="https://www.tiktok.com/@turjmaan"><i class="fa-brands fa-tiktok"></i> Tiktok <span>1K</span></a>
                                    </li>
                                    <li class="ltr">
                                        <a href="https://twitter.com/turjmaan1"><i class="fab fa-twitter"></i> Twitter <span>1K</span></a>
                                    </li>
                                    <li class="ltr">
                                        <a href="https://www.instagram.com/turjmaan/"><i class="fa-brands fa-instagram"></i> Instagram <span>1K</span></a>
                                    </li>
                                    <li class="ltr">
                                        <a href="https://www.facebook.com/profile.php?id=61557292679605"><i class="fab fa-facebook-f"></i> Facebook <span>2K</span></a>
                                    </li>
                                    <li class="ltr">
                                        <a href="https://www.youtube.com/channel/UCGyLdCXfQkEi0amUHFVq4gw"><i class="fab fa-youtube"></i> Youtube <span>1K</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer__copyright">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="copyright__text">
                                <p>
                                    Copyright & Design By <span>Hussein Mukhtar</span> - 2024
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="copyright__menu">
                                <ul class="list-wrap">
                                    <li>
                                        <a href="{% url 'usage' %}#usage">سياسة الاستخدام</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'usage' %}#non">إخلاء المسؤولية</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'usage' %}#ad">إعلن معنا</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-area-end -->
        <!-- JS here -->
        <script src={% static 'assets/js/vendor/jquery-3.6.0.min.js' %}></script>
        <script src={% static 'assets/js/bootstrap.min.js' %}></script>
        <script src={% static 'assets/js/isotope.pkgd.min.js' %}></script>
        <script src={% static 'assets/js/imagesloaded.pkgd.min.js' %}></script>
        <script src={% static 'assets/js/jquery.magnific-popup.min.js' %}></script>
        <script src={% static 'assets/js/jquery.marquee.min.js' %}></script>
        <script src={% static 'assets/js/imageRevealHover.js' %}></script>
        <script src={% static 'assets/js/swiper-bundle.js' %}></script>
        <script src={% static 'assets/js/TweenMax.min.js' %}></script>
        <script src={% static 'assets/js/slick.min.js' %}></script>
        <script src={% static 'assets/js/ajax-form.js' %}></script>
        <script src={% static 'assets/js/wow.min.js' %}></script>
        <script src={% static 'assets/js/main.js' %}></script>
        <script src="https://kit.fontawesome.com/12d0346ec6.js" crossorigin="anonymous"></script>
        {% block script %}
        {% endblock script %}
    </body>
</html>
