{% extends 'base.html' %}
{% load static %}


{% block page_title %}
ترجمان | {{ category.name }}
{% endblock page_title %}


{% block content %}

    <!-- main-area -->
    <main>

        <!-- breadcrumb-area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-content">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href={% url 'home' %}>الرئيسية</a></li>
                                    <li class="breadcrumb-item">قسم</li> 
                                    <li class="breadcrumb-item active" aria-current="page">{{ category.name }}</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb-area-end -->

        <!-- blog-details-area -->
        <section class="blog-details-area pt-10 pb-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-1">
                        <div class="blog-details-social">
                            <ul class="list-wrap">
                                <li><a href="https://www.facebook.com/profile.php?id=61557292679605"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/turjmaan1"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UCGyLdCXfQkEi0amUHFVq4gw"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fas fa-share"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7">
                        <div class="blog-post-wrapper">
                            {% include 'includes/post_item.html' with posts=page_obj %}
                            <div class="pagination__wrap">
                                <ul class="list-wrap">
                                    {% if page_obj.has_previous %}
                                        <li><a href="?page=1"><i class="fas fa-angle-double-right"></i></a></li>
                                        <li><a href="?page={{page_obj.previous_page_number}}"><i class="fas fa-angle-right"></i></a></li>
                                    {% endif %}
                                    
                                    <li class="active" ><a href="#">{{ page_obj.number }}</a></li>

                                    {% if page_obj.has_next %}
                                        <li><a href="?page={{ page_obj.next_page_number }}"><i class="fas fa-angle-left"></i></a></li>
                                        <li><a href="?page={{ page_obj.paginator.num_pages }}"><i class="fas fa-angle-double-left"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <aside class="blog-sidebar">
                            <div class="widget sidebar-widget">
                                <div class="tgAbout-me">
                                    <div class="tgAbout-thumb">
                                        <img src={{ category.img.url }} alt="me">
                                    </div>
                                    <div class="tgAbout-info">
                                        {% if category.eng_name == 'podcast' %}
                                            <p class="intro">مرحبا! في قسم <span>ال{{ category.name }}</span></p>
                                        {% else %}
                                            <p class="intro">مرحبا! في قسم التاريخ <span>ال{{ category.name }}</span></p>
                                        {% endif %}
                                    </div>
                                    <div class="tgAbout-social">
                                        <a href="https://www.facebook.com/profile.php?id=61557292679605"><i class="fab fa-facebook-f"></i></a>
                                        <a href="https://twitter.com/turjmaan1"><i class="fab fa-twitter"></i></a>
                                        <a href="https://www.instagram.com/turjmaan/"><i class="fab fa-instagram"></i></a>
                                        <a href="https://www.youtube.com/channel/UCGyLdCXfQkEi0amUHFVq4gw"><i class="fab fa-youtube"></i></a>
                                    </div>
                                </div>
                            </div>
                            {% include 'includes/categories.html' with categories=categories %}
                        </aside>
                    </div>
                </div>
            </div>
        </section>
        <!-- blog-details-area-end -->

    </main>

{% endblock content %}