{% extends 'base.html' %}
{% load static %}


{% block page_title %}
ترجمان | الصفحة الرئيسية
{% endblock page_title %}


{% block content %}
    <!-- main-area -->
    <main>

        <!-- banner-area -->
        <section class="tgbanner__area">
            <div class="container">
                <div class="tgbanner__grid">

                    {% include 'includes/tgbanner_big_post.html' with post=main_post  %}
                    {% include 'includes/tgbanner_big_small.html' with posts=smaller_posts  %}

                    
                </div>
            </div>
        </section>
        <!-- banner-area-end -->

        <!-- trending-area -->
        <section class="trending-post-area section__hover-line pt-25">
            <div class="container newest">
                <div class="section__title-wrap mb-40">
                    <div class="row align-items-end">
                        <div class="col-sm-6">
                            <div class="section__title">
                                <span class="section__sub-title">المقالات الرائجة</span>
                                <h3 class="section__main-title">أحدث المقالات</h3>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="section__read-more text-start text-sm-end">
                                <a href="blog.html">المزيد <i class="far fa-long-arrow-left"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="trending__slider">

                    {% include 'includes/swiper-slide.html' with posts=slider_posts   %}

                </div>
            </div>
        </section>
        <!-- trending-area-end -->

        <!-- featured-area -->
        <section class="featured-post-area section__hover-line pt-75">
            <div class="container">
                <div class="section__title-wrap mb-40">
                    <div class="row align-items-end">
                        <div class="col-sm-6">
                            <div class="section__title">
                                <span class="section__sub-title">مقترحات</span>
                                <h3 class="section__main-title">اختيار النقاد</h3>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="section__read-more text-start text-sm-end">
                                <a href="blog.html">المزيد من المقترحات <i class="far fa-long-arrow-left"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'includes/featured_posts.html' with posts=editors_choice%}
            </div>
        </section>
        <!-- featured-area-end -->

        <!-- stories-post-area -->
        <section class="stories-post-area section__hover-line pt-75 pb-40">
            <div class="container newest">
                <div class="section__title-wrap mb-40">
                    <div class="row align-items-end">
                        <div class="col-sm-6">
                            <div class="section__title">
                                <span class="section__sub-title">القصص</span>
                                <h3 class="section__main-title">أحدث القصص</h3>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="section__read-more text-start text-sm-end">
                                <a href="blog.html">المزيد من القصص <i class="far fa-long-arrow-left"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'includes/popular_stories_big.html' with posts=popular_stories|slice:":2" %}
                {% include 'includes/popular_stories_small.html' with posts=popular_stories|slice:"2:" %}
            </div>

        </section>
        <!-- stories-post-area-end -->

        <!-- newsletter-area -->
        <section class="newsletter-area pb-80">
            <div class="container">
                <div class="newsletter__wrap">
                    <div class="row align-items-center">
                        <div class="col-xl-5 col-lg-6">
                            <div class="newsletter__title">
                                <span class="sub-title">النشرة الإخبارية</span>
                                <h4 class="title"> أحصل علي أحدث الأخبار و المقالات من موقعنا علي بريدك الإلكتروني</h4>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-6">
                            <div class="newsletter__form-wrap">
                                <form action="#" class="newsletter__form">
                                    <div class="newsletter__form-grp">
                                        <input type="email" placeholder="البريد الإلكتروني" required>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                أنا أوافق/أسمح بأن يتم مشاركة بياناتي مع موقع ترجمان                                            </label>
                                        </div>
                                    </div>
                                    <button class="btn" type="submit"><span class="text">أشترك معنا</span> <i class="fas fa-paper-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- newsletter-area-end -->

    </main>
    <!-- main-area-end -->
{% endblock content %}

