{% extends "base.html" %}
{% load static %}

{% block page_title %}
    ترجمان | سياسة الإستخدام 
{% endblock page_title %}

{% block content %}
<div class="container pt-25 rtl pb-45">
<h1 class="pb-50">
    سياسة الاستخدام وإخلاء المسؤولية و الإعلان معنا
</h1>

<h3 class="pb-15" id="usage">
    1. سياسة الاستخدام
</h3>
<h6 class='pt-25 pb-25'>
    الخصوصية وبيان سريّة المعلومات
</h6>

نقدر مخاوفكم واهتمامكم بشأن خصوصية بياناتكم على شبكة الإنترنت.
لقد تم إعداد هذه السياسة لمساعدتكم في تفهم طبيعة البيانات التي نقوم بتجميعها منكم عند زيارتكم لموقعنا على شبكة الانترنت وكيفية تعاملنا مع هذه البيانات الشخصية.
<h6 class='pt-25 pb-25'>
    التصفح
</h6>
لم نقم بتصميم هذا الموقع من أجل تجميع بياناتك الشخصية من جهاز الكمبيوتر الخاص بك أثناء تصفحك لهذا الموقع، وإنما سيتم فقط استخدام البيانات المقدمة من قبلك بمعرفتك ومحض إرادتك.
<h6 class='pt-25 pb-25'>
    عنوان بروتوكول شبكة الإنترنت (IP)
</h6>
في أي وقت تزور فيه اي موقع الكتروني بما فيها هذا الموقع، سيقوم السيرفر المستضيف بتسجيل عنوان بروتوكول شبكة الإنترنت (IP) الخاص بك، تاريخ ووقت الزيارة ونوع متصفح الإنترنت الذي تستخدمه والعنوان URL الخاص بأي موقع من مواقع الإنترنت التي تقوم بإحالتك إلى هذا الموقع على الشبكة.
<h6 class='pt-25 pb-25'>
    عمليات المسح على الشبكة
</h6>
إن عمليات المسح التي نقوم بها مباشرة على الشبكة تمكننا من تجميع بيانات محددة مثل البيانات المطلوبة منك بخصوص نظرتك وشعورك تجاه موقعنا. تعتبر ردودك ذات أهمية قصوى، ومحل تقديرنا حيث أنها تمكننا من تحسين مستوى موقعنا، ولك كامل الحرية والاختيار في تقديم البيانات المتعلقة باسمك والبيانات الأخرى.
<h6 class='pt-25 pb-25'>
    الروابط بالمواقع الأخرى على شبكة الإنترنت
</h6>
قد يشتمل موقعنا على روابط بالمواقع الأخرى على شبكة الإنترنت. أو إعلانات من مواقع اخرى مثل
Google AdSense ولا نعتبر مسئولين عن أساليب تجميع البيانات من قبل تلك المواقع، يمكنك الاطلاع على سياسات السرية والمحتويات الخاصة بتلك المواقع التي يتم الدخول إليها من خلال أي رابط ضمن هذا الموقع. نحن قد نستعين بشركات إعلان لأطراف ثالثة لعرض الإعلانات عندما تزور موقعنا على الويب. يحق لهذه الشركات أن تستخدم معلومات حول زياراتك لهذا الموقع ولمواقع الويب الأخرى (باستثناء الاسم أو العنوان أو عنوان البريد الإلكتروني أو رقم الهاتف)، وذلك من أجل تقديم إعلانات حول الخدمات التي تهمك.
<h6 class='pt-25 pb-25'>
    إفشاء المعلومات
</h6>
سنحافظ في كافة الأوقات على خصوصية وسرية كافة البيانات الشخصية التي نتحصل عليها. ولن يتم إفشاء هذه المعلومات إلا إذا كان ذلك مطلوباً بموجب أي قانون أو عندما نعتقد بحسن نية أن مثل هذا الإجراء سيكون مطلوباً أو مرغوباً فيه للتمشي مع القانون، أو للدفاع عن أو حماية حقوق الملكية الخاصة بهذا الموقع أو الجهات المستفيدة منه.
<h6 class='pt-25 pb-25'>
    البيانات اللازمة لتنفيذ المعاملات المطلوبة من قبلك
</h6>
عندما نحتاج إلى أية بيانات خاصة بك، فإننا سنطلب منك تقديمها بمحض إرادتك. حيث ستساعدنا هذه المعلومات في الاتصال بك وتنفيذ طلباتك حيثما كان ذلك ممكنناً. وقد يتم مشاركة البيانات المقدمة من قبلك إلى أي طرف ثالث لاستخدامها للأغراض الإحصائية والأبحاث أو غيرها.
<h6 class='pt-25 pb-25'>
    عند الاتصال بنا
</h6>
سيتم التعامل مع كافة البيانات المقدمة من قبلك على أساس أنها سرية. تتطلب النماذج التي يتم تقديمها مباشرة على الشبكة تقديم البيانات التي ستساعدنا في تحسين موقعنا. سيتم استخدام البيانات التي يتم تقديمها من قبلك في الرد على كافة استفساراتك، ملاحظاتك، أو طلباتك من قبل هذا الموقع أو أيا من المواقع التابعة له.
<h6 class='pt-25 pb-25'>
    إفشاء المعلومات السرية لأي طرف ثالث
</h6>
لن نقوم ببيع، المتاجرة، تأجير، أو إفشاء أية معلومات سرية أو شخصية لمصلحة أي طرف ثالث خارج هذا الموقع، أو المواقع التابعة له دون الموافقة المسبقة، أو عند صدور أمر بذلك من قبل أي سلطة قضائية أو تنظيمية.
<h6 class='pt-25 pb-25'>
    التعديلات على سياسة سرية وخصوصية المعلومات
</h6>
نحتفظ بالحق في تعديل بنود وشروط سياسة سرية وخصوصية المعلومات إن لزم الأمر ومتى كان ذلك ملائماً. سيتم تنفيذ التعديلات هنا وسيتم بصفة مستمرة إخطارك بالبيانات التي حصلنا عليها، وكيف سنستخدمها والجهة التي سنقوم بتزويدها بهذه البيانات.
<h6 class='pt-25 pb-25'>
    أخيراً
</h6>
إن مخاوفك واهتمامك بشأن سرية وخصوصية البيانات تعتبر مسألة في غاية الأهمية بالنسبة لنا. ونحن نأمل أن يتم تحقيق ذلك من خلال هذه السياسة.
<h3 class='pb-15 pt-15' id="non">
    2. إخلاء المسؤولية
</h3>
إن المعلومات المشمولة في موقع الإنترنت هذا هي لأغراض المعلومات العامة فقط، وتم تقديم هذه المعلومات من قبل المركز الوطني لنظم الموارد الحكومية، ونحن إذ نسعى للمحافظة على تحديث وصحة المعلومات إلا إننا لا نقدم أية إقرارات أو تعهدات من أي نوع كان، سواء بشكل صريح أو ضمني، فيما يتعلق بالتمام، أو الدقة أو الموثوقية أو الملائمة أو التوفير لموقع الإنترنت أو المعلومات أو المنتجات أو الخدمات أو الرسومات ذات الصلة في موقع الإنترنت لأي غرض كان.  ولذلك فإن أي اعتماد لك على هذه المعلومات يكون بشكل تام على مسئوليتك.
<br>
لن نكون في أي حال من الأحوال مسئولين عن أية خسارة أو ضرر بما في ذلك دون حصر، أية خسارة أو ضرر غير مباشرين أو تابعين أو أية خسارة أو ضرر أيا كانا ينشآن عن فقدان بيانات أو خسارة أرباح تنشأ عن أو فيما يتعلق باستخدام موقع الإنترنت هذا. إنك تستطيع من خلال موقع الإنترنت هذا الوصول إلى مواقع إنترنت أخرى ليست تحت سيطرة المركز. ليست لدينا أية سيطرة على طبيعة ومحتوى أو توفر تلك المواقع. إن وجود أية وصلات على موقعنا لا يعني بالضرورة أننا نؤيد أو نصادق على وجهات النظر التي يتم التعبير عنها ضمن هذه المواقع. لقد بذلنا كل جهد ممكن للمحافظة على عمل موقع الإنترنت بصورة جيدة وسهلة، ومع ذلك لا يتحمل المركز أية مسئولية ولن يكون عرضة لأية مطالبات عن عدم التوفر المؤقت لموقع الإنترنت بسبب مشاكل فنية خارجة عن سيطرتنا.

<h3 class='pb-15 pt-15' id="ad">
    3. الإعلان معنا
</h3>
نحن نؤمن بأهمية الإعلان الفعال في إيصال رسالتك إلى جمهورك المستهدف وتعزيز تواجدك في السوق. لذلك، نقدم لك مجموعة متنوعة من خدمات الإعلان التي تناسب ميزانيتك واحتياجاتك، بما في ذلك الإعلانات المطبوعة والإعلانات الرقمية والإعلانات الخارجية وغيرها الكثير.
<br>
مع فريقنا المختص ذي الخبرة الواسعة في مجال الإعلان، سنعمل على تصميم حملة إعلانية ناجحة تلفت انتباه جمهورك وتحقق النتائج المرجوة.
<br>
لا تتردد في التواصل معنا اليوم لمعرفة المزيد عن خدماتنا وكيف يمكننا مساعدتك في تحقيق أهدافك الإعلانية.
</div>
{% endblock content %}

